.book-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px 50px;
}

@media (max-width: 1220px) {
  .book-list {
    max-width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 840px) {
  .book-list {
    max-width: 100%;
    grid-template-columns: repeat(1);
  }
}

@media (max-width: 424px) {
  .book-list {
    min-width: 100%;
  }
}

.book-list-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px 0 0 10px;
  margin: 10px;
  position: relative;
  width: 350px;
  height: 180px;
  background: #00000050;
}

@media (max-width: 400px) {
  .book-list-item {
    width: 210px;
    height: 180px;
  }
}

.book-container > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 10px;
}

.book-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 100%;
}

.book-genre {
  font-size: 0.85em;
}

.book-author {
  color: #9400d3;
}

.action {
  display: flex;
  justify-content: space-between;
}

.add-cart,
.add-remove {
  border: none;
  color: #000000;
  border-radius: 5px;
  font-family: "Exo", sans-serif;
  padding: 5px;
  max-width: 280px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  width: 48%;
}

.add-remove {
  background-color: red;
}

.add-cart {
  background-color: #add7f1;
  border: #000000 1px solid;
}

.add-cart-pre {
  width: 100%;
}

.book-img {
  height: 150px;
  margin-right: -60px;
}

.book-list-item-badge {
  background-color: #9400d3;
  width: 20px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  color: #fff;
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  top: -9px;
  left: -9px;
}
